[run]
include =
  ln_pluggy/*
  testing/*
  */lib/python*/site-packages/ln_pluggy/*
  */pypy*/site-packages/ln_pluggy/*
  *\Lib\site-packages\ln_pluggy\*
branch = 1

[paths]
source = ln_pluggy/
  */lib/python*/site-packages/ln_pluggy/
  */pypy*/site-packages/ln_pluggy/
  *\Lib\site-packages\ln_pluggy\

[report]
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

    if TYPE_CHECKING:
    if False:

    if __name__ == .__main__.:

    raise NotImplementedError

    # Ignore coverage on lines solely with `...`
    ^\s*\.\.\.\s*$
