include CHANGELOG
include README.rst
include setup.py
include tox.ini
include LICENSE
graft testing
recursive-exclude * *.pyc *.pyo
include src/pluggy/callers/cythonized.pyx
include src/pluggy/callers/cythonized.c
